@media screen and (min-width: 600px) {
  #pic1 {
    height: 100px;
    width: 100px;
  }
}
@media screen and (max-width: 600px) {
  #pic1 {
    height: 30px;
    height: 30px;
  }
}
#div1 {
  height: 30vh;
  width: 40vw;
}
@media screen and (min-width: 600px) {
  #div1 {
    background-color: blue;
    height: 30vh;
    width: 40vw;
  }
}
@media screen and (max-width: 600px) {
  #div1 {
    background-color: red;
    height: 30vh;
    width: 40vh;
  }
}
#div2 {
  background-color: green;
  height: 30vh;
  width: 40vw;
}
@media screen and (min-width: 600px) {
  #div2 {
    color: white;
  }
}
@media screen and (max-width: 600px) {
  #div2 {
    color: yellow;
  }
}
#back {
  border: 2px solid black;
  background-image: url(images/mountin.jpg);
}

@media screen and (min-width: 600px) {
  #back {
    background-image: url(images/mountin.jpg);
    height: 30vh;
    width: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 600px) {
  #back {
    background-image: url(images/woods.jpg);
    height: 30vh;
    width: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
#div3 {
  background-color: blue;
  height: 20vh;
  width: 20vw;
}
@media screen and (min-width: 600px) {
  #div3 {
    border-radius: 50%;
  }
}
@media screen and (min-width: 600px) {
  #luffy {
    filter: blur(1px);
  }
}
@media screen and (max-width: 600px) {
  #luffy {
    filter: grayscale(4);
  }
}

